.container{
    /* border: 1px solid; */
/* padding: 10px; */
box-shadow: 7px 13px 22px 8px #A8A8A8;
   background: white;
    padding: 20px;
    border-radius: 10px;

    font-family: 'Lobster', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Ubuntu', sans-serif;

}
h1{
    font-family: 'Lobster', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Ubuntu', sans-serif;
}


